<div class="container">
    <div class="row justify-content-center">
        <div class="col col-12">
            <new-appointment (reloadAppointments)="ngOnInit()"></new-appointment>
        </div>
    </div>
    <tabset [justified]="true">
        <tab heading="Citas confirmadas">
            <appointment-table
                title="Citas confirmadas"
                [actions]="false"
                [appointments]="appointmentsConfirmed"
                (reloadAppointments)="ngOnInit()"
            ></appointment-table>
        </tab>
        <tab heading="Citas solicitadas">
            <appointment-table
                title="Citas solicitadas"
                [actions]="true"
                [appointments]="appointmentsSolicited"
                (reloadAppointments)="ngOnInit()"
            ></appointment-table>
        </tab>
    </tabset>
</div>