@import '~@fortawesome/fontawesome-free/css/all.css';

.input-container {
    position: relative;
    margin: 1rem auto;
    width: 100%;
}

.input-container input[type="text"],
.input-container input[type="password"],
.input-container input[type="date"],
.input-container input[type="number"],
.select-estatus {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.label-noanimated .label {
    top: -20px;
    font-size: 16px;
    color: #725AC1;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label,
.input-container input[type="password"]:focus~.label,
.input-container input[type="password"]:valid~.label,
.input-container input[type="date"]:focus~.label,
.input-container input[type="date"]:valid~.label,
.input-container input[type="number"]:focus~.label,
.input-container input[type="number"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #725AC1;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #725AC1;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline,
.input-container input[type="password"]:focus~.underline,
.input-container input[type="password"]:valid~.underline,
.input-container input[type="date"]:focus~.label,
.input-container input[type="date"]:valid~.label,
.input-container input[type="number"]:focus~.label,
.input-container input[type="number"]:valid~.label .input-container select:valid~.underline {
    transform: scaleX(1);
}

.input-container select:focus~.underline {
    transform: scaleX(0);
}

.custom-button {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

.custom-button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

.custom-button:active {
    transform: scale(0.9);
}

.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.check:hover:before {
    opacity: 1;
}

.check:hover svg {
    stroke: #725AC1;
}

#cbx-OVERWEIGHT:checked+.check svg,
#cbx-OBESITY:checked+.check svg,
#cbx-DIABETES:checked+.check svg,
#cbx-HYPOTHYROIDISM:checked+.check svg,
#cbx-CARDIAC_PROBLEMS:checked+.check svg,
#cbx-GASTROINTESTINAL_PROBLEMS:checked+.check svg,
#cbx-CIRCULATORY_PROBLEMS:checked+.check svg,
#cbx-DENTAL_PROBLEMS:checked+.check svg {
    stroke: #725AC1;
}

#cbx-OVERWEIGHT:checked+.check svg path,
#cbx-OBESITY:checked+.check svg path,
#cbx-DIABETES:checked+.check svg path,
#cbx-HYPOTHYROIDISM:checked+.check svg path,
#cbx-CARDIAC_PROBLEMS:checked+.check svg path,
#cbx-GASTROINTESTINAL_PROBLEMS:checked+.check svg path,
#cbx-CIRCULATORY_PROBLEMS:checked+.check svg path,
#cbx-DENTAL_PROBLEMS:checked+.check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

#cbx-OVERWEIGHT:checked+.check svg polyline,
#cbx-OBESITY:checked+.check svg polyline,
#cbx-DIABETES:checked+.check svg polyline,
#cbx-HYPOTHYROIDISM:checked+.check svg polyline,
#cbx-CARDIAC_PROBLEMS:checked+.check svg polyline,
#cbx-GASTROINTESTINAL_PROBLEMS:checked+.check svg polyline,
#cbx-CIRCULATORY_PROBLEMS:checked+.check svg polyline,
#cbx-DENTAL_PROBLEMS:checked+.check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.custom-card {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    border: 1px solid #725ac18a;
    border-radius: 8px;
    color: #2b2b2b;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.custom-card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(33, 33, 33, 0.1);
    border: 1px solid #725AC1;
}

.custom-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.custom-card:hover:before {
    transform: translateX(-100%);
}

.custom-card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.custom-card:hover:after {
    transform: translateX(100%);
}

.loader {
    width: 14%;
    margin-left: 43%;
    aspect-ratio: 1;
    color: #dc1818;
    background:
        radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
        radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
        linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
        linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    opacity: 0.4;
    animation: l3 1s infinite;
}

@keyframes l3 {
    to {
        transform: scale(1.8);
        opacity: 0
    }
}

.new-btn {
    color: #000;
    text-decoration: none;
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

.new-btn>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.new-btn:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.new-btn:hover {
    box-shadow: 9px 9px 33px #725AC1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}